include run.py run.ps1 .env.example .gitignore
recursive-include requirements *.txt
recursive-include configs *.yaml
recursive-include scripts *.py *.ps1
recursive-include docs *.md
recursive-include tests *.py
